.card-item{
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 5px;
	.card-image{
		background-color: #f2f2f2;
		img{
			width: 100%;
		}
	}
	.card-content{
		margin: 10px 0px;
		.card-title{
			color: #575d9f;
			font-weight: 600;
		}
		.card-data{
			margin: 10px 0px;
			display: flex;
			.content-title{
				font-weight: 600;
				flex-basis: 60%;
			}
			.content-value{
				color: #575d9f;
			}
		}
	}
}

@media only all and (min-width: 700px) and (max-width: 1024px) {
	.card-item{
		flex-basis: 49%;
		margin-bottom: 10px;
	}
}

@media only all and (min-width: 1024px) {
	.card-item{
		flex-basis: 24%;
		margin-bottom: 10px;
	}
}