@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}
a{
	text-decoration: none;
}
ul, li{
	padding: 0;
	margin: 0;
	list-style: none;	
}
h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}
h1{
	font-size: 25px;
	font-weight: 500;
}
h3{
	line-height: 20px;
}
.strong{
	font-weight: 700;
}
.card{
	box-shadow: 0 2px 4px rgba(3,27,78,.1);
	background-color: #ffffff;
	padding: 10px;
}
.main{
	max-width: 1440px;
	margin: 10px auto;
}
.content{
	padding: 0 10px;
}
.loader-container{
	padding: 50px;
	position: relative;
	flex: 1;
}
.loader::after{
	position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -.5em 0 0 -.5em;
    width: 3em;
    height: 3em;
    border-width: .2em;
    border-radius: 500rem;
    border-color: #fff transparent transparent;
    border-style: solid;
	box-shadow: 0 0 0 1px transparent;
    -webkit-animation: spin .6s linear;
    animation: spin .6s linear infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-box-shadow: 0 0 0 1px transparent;
}
.primary::after{
	border-color: #7abc32 transparent transparent !important;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.filters-container{
	height: max-content;
	margin-bottom: 10px;
}
.filter-title{
	text-align: center;
	padding: 5px 0px;
	margin: 10px 0;
	border-bottom: 1px solid #dddddd;
}
.no-data{
	font-size: 20px;
	font-weight: 500;
	color: rgba(0,0,0,0.35);
	width: 100%;
	text-align: center;
	padding: 20px;
}

@media only all and (min-width: 700px) and (max-width: 1024px) {
  .content {
	display: flex;
	justify-content: space-between;
	.filters-container{
		flex-basis: 24%;
	}
  }
}

@media only all and (min-width: 1024px) {
  .content {
	display: flex;
	justify-content: space-between;
	.filters-container{
		flex-basis: 24%;
	}
  }
}