.filters-container{
	height: max-content;
	margin-bottom: 10px;
}
.filter-title{
	text-align: center;
	padding: 5px 0px;
	margin: 10px 0;
	border-bottom: 1px solid #dddddd;
}
.filter-list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.filter-item{
	background-color: #c5e09b;
	padding: 10px;
	border-radius: 5px;
	flex-basis: 48%;
	margin: 5px 0;
	text-align: center;
	cursor: pointer;
	&.active {
		background-color: #7abc32;
	}
}
.no-data{
	font-size: 20px;
	font-weight: 500;
	color: rgba(0,0,0,0.35);
	width: 100%;
	text-align: center;
	padding: 20px;
}
.launch-program-list-container{
	// margin: 10px 0px;;
	.launch-program-list-item{
		display: flex;
		flex-direction: column;
		background-color: #ffffff;
		padding: 10px;
		border-radius: 5px;
		.program-image{
			background-color: #f2f2f2;
			img{
				width: 100%;
			}
		}
		.program-content{
			margin: 10px 0px;
			.program-title{
				color: #575d9f;
				font-weight: 600;
			}
			.program-data{
				margin: 10px 0px;
				display: flex;
				.content-title{
					font-weight: 600;
					flex-basis: 50%;
				}
				.content-value{
					color: #575d9f;
				}
			}
		}
	}
}

@media only all and (min-width: 700px) and (max-width: 1024px) {
  .content {
	display: flex;
	justify-content: space-between;
	.filters-container{
		flex-basis: 24%;
	}
	.launch-program-list-container{
		flex-basis: 74%;
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		align-items: flex-start;
		.launch-program-list-item{
			flex-basis: 49%;
			margin-bottom: 10px;
		}
	}
  }
}

@media only all and (min-width: 1024px) and (max-width: 1440px) {
  .content {
	display: flex;
	justify-content: space-between;
	.filters-container{
		flex-basis: 24%;
	}
	.launch-program-list-container{
		flex-basis: 74%;
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		align-items: flex-start;
		.launch-program-list-item{
			flex-basis: 24%;
			margin-bottom: 10px;
		}
	}
  }
}